[submodule "riscv-linux"]
	path = riscv-linux
	url = https://github.com/ICT-TEE/riscv-linux.git
[submodule "opensbi"]
	path = opensbi
	url = https://github.com/ICT-TEE/opensbi.git
[submodule "riscv-rootfs"]
	path = riscv-rootfs
	url = https://github.com/ICT-TEE/riscv-rootfs.git
	branch = penglai-rootfs
[submodule "NEMU"]
	path = NEMU
	url = https://github.com/ICT-TEE/NEMU.git
[submodule "debian-linux-kernel"]
	path = debian-linux-kernel
	url = git@github.com:ICT-TEE/debian-linux-kernel.git
